{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div id="inventory-wrapper">
    <form id=search-bar method="get" action="">
        <input type="text" name="search_query" placeholder="Search for product in inventory" value="{{ request.GET.search_query }}">
        <button type="submit">Search</button>
    </form>


    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'LOT' %}</th>
                <th>{% translate 'Exp. date' %}</th>
                <th>{% translate 'Qty' %}</th>
                <th>{% translate 'Unit' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory_list %}
                <tr>
                    <td class="numerator">{{ forloop.counter }}</td>
                    <td class="product-name">{{ item.product_name }}</td>
                    <td class="product-lot">{{ item.product_lot_number }}</td>
                    <td class="product-exp-date">{{ item.product_exp_date }}</td>
                    <td class="product-quantity">{{ item.product_quantity }}</td>
                    <td class="product-unit">{{ item.product_unit }}</td>
                </tr>
            {% empty %}
                <div id="no-items">No items in inventory.</div>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}