
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content%}
    <div id="sales_wrapper">
        <form id="sales_form" method="post" action="{% url 'receive-goods' %}" autocomplete="off">
            {% csrf_token %}
            <section id="sale-document">
                <div id="sale-document-header">
                    <div id="department-and-date">

                        <div class="form-group">
                            <label for="{{ receiving_document_form.date.id_for_label }}">{{ receiving_document_form.date.label }}: </label>
                            {{ receiving_document_form.date }}
                        </div>
                        {{ receiving_document_form.date.errors }}

                    </div>
                    <div id="client-and-invoice-data">
                        <div id="invoice-number-and-dates">
                            {{ receiving_document_form.errors }}
                            <div id="invoice-toggled-fields">
                                {{ receiving_document_form.shipping_department.errors }}
                                <div class="form-group">
                                    <label for="{{ receiving_document_form.shipping_department.id_for_label }}">{{ receiving_document_form.shipping_department.label }}: </label>
                                    {{ receiving_document_form.shipping_department }}
                                </div>
                            </div>
                        </div>
                        <div id="buyer-data">
                            <div id="buyer-data-toggle-fields">
                                {{ receiving_document_form.receiving_department.errors }}
                                <div class="form-group">
                                    <label for="{{ receiving_document_form.receiving_department.id_for_label }}">{{ receiving_document_form.receiving_department.label }}: </label>
                                    {{ receiving_document_form.receiving_department }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="sold-products">
                    {{ received_products_formset.management_form }}
                    <table>
                      <thead>
                        <tr>
                            <th>#</th>
                            <th>{% translate 'Name' %}</th>
                            <th>{% translate 'Qty' %}</th>
                            <th>{% translate 'LOT' %}</th>
                            <th>{% translate 'Exp. date' %}</th>
                            <th>{% translate 'Purchase price' %}</th>
                            <th>{% translate 'Amount' %}</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for form in received_products_formset %}
                                <tr class="product-form">
                                    <td class="numerator">{{ forloop.counter }}</td>
                                    <td>{{ form.product_name }}</td>
                                    <td>{{ form.product_quantity }}</td>
                                    <td>{{ form.product_lot_number }}</td>
                                    <td>{{ form.product_exp_date }}</td>
                                    <td>{{ form.product_purchase_price }}</td>
                                    <td>{{ form.product_value }}</td>
                                </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                </div>
            </section>

            <footer>
                <div id="sums-and-button">
                    <div>
                        {{ receiving_document_form.total_sum.errors }}
                        <label for="id_total_sum">{% translate 'TOTAL:' %}</label>
                        {{ receiving_document_form.total_sum }}
                    </div>
                    <button id="footer-ok-button" ><i class="fa-solid fa-check"></i></button>
                </div>
            </footer>
        </form>

    </div>

    <script type="text/javascript">
        let productNamesDict = {{ products_dropdown | safe }};
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/date_picker.js' %}"></script>


{% endblock %}
