
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content%}
    <div id="ship-wrapper">
        <form id="ship-form" method="post" action="{% url 'ship-goods' %}" autocomplete="off">
            {% csrf_token %}
            <section id="ship-document">
                <div id="ship-document-header">
                    <div id="date">
                        <div>
                            {{ shipping_document_form.date.errors }}
                            <div class="form-group">
                                <label for="{{ shipping_document_form.date.id_for_label }}">{{ shipping_document_form.date.label }}: </label>
                                {{ shipping_document_form.date }}
                            </div>
                        </div>
                    </div>
                    <div id="departments">
                            <div>
                                {{ shipping_document_form.shipping_department.errors }}
                                <div class="form-group">
                                    <label for="{{ shipping_document_form.shipping_department.id_for_label }}">{{ shipping_document_form.shipping_department.label }}: </label>
                                    {{ shipping_document_form.shipping_department }}
                                </div>
                            </div>

                            <div>
                                {{ shipping_document_form.receiving_department.errors }}
                                <div class="form-group">
                                    <label for="{{ shipping_document_form.receiving_department.id_for_label }}">{{ shipping_document_form.receiving_department.label }}: </label>
                                    {{ shipping_document_form.receiving_department }}
                                </div>
                            </div>
                    </div>
                </div>

                <div id="shipped-products">
                    {{ shipped_products_formset.management_form }}
                    <table>
                      <thead>
                        <tr>
                            <th class="numerator"></th>
                            <th class="name">{% translate 'Name' %}</th>
                            <th class="quantity">{% translate 'Qty' %}</th>
                            <th class="unit">{% translate 'Unit' %}</th>
                            {% if user_settings.show_lot_and_exp_columns %}
                                <th class="lot">{% translate 'LOT' %}</th>
                                <th class="exp-date">{% translate 'Exp. date' %}</th>
                            {% else %}
                                <th class="lot" style="display: none">{% translate 'LOT' %}</th>
                                <th class="exp-date" style="display: none">{% translate 'Exp. date' %}</th>
                            {% endif %}
                            <th class="purchase-price">{% translate 'Purchase price' %}</th>
                            <th class="product-total">{% translate 'Amount' %}</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for form in shipped_products_formset %}
                                <tr class="product-form">
                                    <td class="numerator">{{ forloop.counter }}</td>
                                    <td class="name">
                                        {{ form.product_name.errors }}
                                        {{ form.product_name }}
                                    </td>
                                    <td class="quantity">
                                        {{ form.product_quantity.errors }}
                                        {{ form.product_quantity }}
                                    </td>
                                    <td class="unit">
                                        {{ form.product_unit.errors }}
                                        {{ form.product_unit }}
                                    </td>
                                     {% if user_settings.show_lot_and_exp_columns %}
                                        <td class="lot">{{ form.product_lot_number }}</td>
                                        <td class="exp-date">{{ form.product_exp_date }}</td>
                                    {% else %}
                                        <td class="lot" style="display: none">{{ form.product_lot_number }}</td>
                                        <td class="exp-date" style="display: none">{{ form.product_exp_date }}</td>
                                    {% endif %}
                                    <td class="purchase-price">
                                        {{ form.product_purchase_price.errors }}
                                        {{ form.product_purchase_price }}
                                    </td>
                                    <td class="product-total">
                                        {{ form.product_total.errors }}
                                        {{ form.product_total }}
                                    </td>
                                </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                </div>
            </section>
            <footer>
                <div id="sums-and-button">
                    <div>
                        {{ shipping_document_form.total_sum.errors }}
                        <label for="id_total_sum">{% translate 'TOTAL:' %}</label>
                        {{ shipping_document_form.total_sum }}
                    </div>
                    <button id="footer-ok-button" type="submit"><i class="fa-solid fa-check"></i></button>
                </div>
            </footer>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/date_picker.js' %}"></script>
    <script src="{% static 'js/warehouse_shipping.js' %}"></script>


{% endblock %}
