#sales_wrapper {
    display: flex;
    margin-top: 8vh;
}

#sales_form {
    flex: 1 1 73vw;

}

#quick_product_select {
    display: flex;
    flex: 1 1 25vw;
    flex-wrap: wrap;
    padding: 2vw 2vw 2vw 0;
    font-size: 1.2vw;
    justify-content: flex-start;
    color: white;
    gap: 4%;
}

#paper {
    display:flex;
    flex-direction: column;
    padding: 2vw;
    margin: 2vw;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    background-color: #ececec;

}

#paper-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1vh;
}

#operator_data {
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
}

#invoice-data {
    display: flex;
    justify-content: space-between;
}

#seller-data, #buyer-data {
    display:none;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5vh;
    padding: 1vw;
    border: 1px solid black;
    border-radius: 3px;
}

.form-group {
    display: flex;
    gap: 0.5vw;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}


.quick_select_tile {
    padding: 0.5vw 1vw;
    background-color: rgba(0, 119, 119, 0.5);
    border: 1px solid white;
    border-radius: 5px;
    width: 48%;
    height: auto;
}

.quick_select_tile:hover {
    box-shadow: var(--buttons-hover);
}

.quick_select_tile:active {
    box-shadow: var(--buttons-active);
}


#sold-products {
    margin-top: 2vh;
}


#sold-products table th{
    font-size: 1vw;
    border: 1px solid red;
}


.product-form .numerator {
    width: 2%;
}

.product-form td:nth-child(2) {
    width: 30%;
}

.product-form td:nth-child(3) {
    width: 4%;
}

.product-form td:nth-child(4) {
    width: 10%;
}

.product-form td:nth-child(5) {
    width: 10%;
}

.product-form td:nth-child(6) {
    width: 9%;
}

.product-form td:nth-child(7) {
    width: 9%;
}

.product-form td:nth-child(8) {
    width: 6%;
}

.product-form td:nth-child(9) {
    width: 10%;
}

.product-form td:nth-child(10) {
    width: 10%;
}

.product-form input {
    width: 100%;
}




/*.product-form td:nth-child(9), thead th:nth-child(9), #id_sold_products-0-product_lot_number {*/
/*    display: none;*/
/*}*/

/*.product-form td:nth-child(10), thead th:nth-child(10), #id_sold_products-0-product_exp_date {*/
/*    display: none;*/
/*}*/




