#error-page {
    padding: 0 3vw;
}

#error-page > h1 {
    margin-top: 30vh;
    text-align: center;
    font-size: 4vmax;
    color: #333333;
}

#error-page > h2 {
    margin-top: 3vh;
    text-align: center;
    font-size: 3vmax;
    color: #333333;
}