footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    bottom: 0;
    color: var(--navigation-text-color);
    box-sizing: border-box;
    width: 100%;
    background-color: var(--nav_bar_background);
    font-size: calc(16px + 0.4vw);
    padding: 0.5vw;
}


#payment-display select{
    font-size: 1.6vw;
}

#sums-and-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
}

#sums-and-button div input {
    width: 8vw;
    font-size: calc(14px + 0.4vw);
    text-align: center;
}

#id_sale_total_final {
    font-weight: bold;
}

#sums-and-button div:nth-child(3) label {
    font-weight: bold;
    margin-left: 2vw;
}

#footer-ok-button {
    font-size: calc(20px + 0.4vw);
    font-weight: bold;
    color: white;
    background-color: lightgreen;
    width: 4vmax;
    border: 0;
    border-radius: 5px;
}

#footer-ok-button:hover {
    box-shadow: var(--buttons-hover);
}

#footer-ok-button:active {
    box-shadow: var(--buttons-active);
}

#solo-fixed-ok-button {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    color: white;
    box-sizing: border-box;
}