
.wrapper {
    display: flex;
    flex-direction: column;
    background-image: url("/static/images/background_8.png");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    height: fit-content;
}

.main_homepage {
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.main_menu {
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 0 4vw 4vw 4vw;

}

.shortcuts {
    display: none;
    justify-content: left;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 3vw;
    padding: 4vw;
    border-left: 1px solid white;
}

.main_menu a, .shortcuts a {
    text-decoration: none;
    color: white;
}

.navigation_tile {
    flex-shrink: 0;
    font-size: 120%;
    text-align: center;
    box-sizing: border-box;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1vmax;
    border: 2px solid white;
    background-color: var(--buttons_background);
}


.navigation_tile:hover {
    box-shadow: var(--buttons-hover);
}


.navigation_tile:active {
    box-shadow: var(--buttons-active);
}


.navigation_tile p:nth-child(1) {
    flex-grow: 1;
    text-align: center;
}



@media only screen and (max-width: 480px) {
    .main_menu {
        gap: 5vw;
        padding: 0 5vw;
    }

    .navigation_tile {
        width: 42.5vw;
        height: 30vw;
        font-size: 6vw;
        padding: 2vw;
    }
}


@media only screen and (min-width: 481px) and (max-width: 810px) {
    .main_menu {
        gap: 4vw;
        padding: 0 4vw;
    }

    .navigation_tile {
        width: 28vw;
        height: 28vw;
        font-size: 4vw;
        padding: 2vw;
    }

    .navigation_tile i {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 811px) and (max-width: 1024px) {
    .main_menu {
        gap: 4vw;
        padding: 0 4vw;
    }

    .navigation_tile {
        width: 20vw;
        height: 20vw;
        font-size: 3vw;
        padding: 2vw;
    }

    .navigation_tile i {
        font-size: 4vw;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1279px) {
    .main_homepage {
        margin-top: 11vh;
    }

    .main_menu {
        gap: 4vw;
        padding: 0vw 7vw;
    }

    .navigation_tile {
        width: 14vw;
        height: 14vw;
        font-size: 2vw;
        padding: 1.8vw;
    }

    .navigation_tile i {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {

    .main_homepage {
        margin-top: 12vh;
    }

    .main_menu {
        gap: 3vw;
        padding: 0 3vw;
        width: 63vw;
    }

    .shortcuts {
        display: flex;
        gap: 2.9vw;
        padding: 0 3vw;
        width: 33vw;
        align-content: flex-start;
    }

    .navigation_tile {
        width: 12vw;
        height: 12vw;
        font-size: 1.6vw;
        padding: 1.7vw;
    }

    .navigation_tile i {
        font-size: 2.2vw;
    }
}


@media only screen and (min-width: 1440px) {

    .main_homepage {
        margin-top: 12vh;
    }

    .main_menu {
        gap: 3vw;
        padding: 0 3vw;
        width: 68vw;
    }

    .shortcuts {
        display: flex;
        gap: 2.9vw;
        padding: 0 3vw;
        width: 29vw;
        align-content: flex-start;

    }

    .navigation_tile {
        width: 10vw;
        height: 10vw;
        font-size: 1.4vw;
        padding: 1.3vw;
    }

    .navigation_tile i {
        font-size: 2vw;
    }
}

