#products-list-wrapper,
#inventory-wrapper,
#client-list-wrapper,
#suppliers-list-wrapper {
    margin: 10vh 3vw 0 3vw;
}

#documents-list-wrapper{
    margin: 12vh 3vw 0 3vw;
}

#products-list-wrapper #search-bar input,
#inventory-wrapper #search-bar input,
#inventory-wrapper #search-bar select,
#client-list-wrapper #search-bar input,
#suppliers-list-wrapper #search-bar input {
    width: 30%;
    font-size: calc(12px + 0.4vw);
    padding-left: 5px;
    border-radius: 5px;
}

#inventory-wrapper #search-bar label{
    font-size: calc(12px + 0.4vw);
    font-weight: bold;
    margin:0 10px;
}

#documents-list-wrapper #search-bar label{
    font-size: calc(11px + 0.4vw);
    font-weight: bold;
    margin-left: 2%;
}

#documents-list-wrapper #search-bar > label:nth-child(1) {
    margin-left: 0;
}

#documents-list-wrapper #search-bar select {
    width: 14%;
    font-size: calc(11px + 0.4vw);
    padding: 3px 5px;
    border-radius: 5px;
}

#documents-list-wrapper #search-bar #type {
    width: 10%;
    font-size: calc(11px + 0.4vw);
    border-radius: 5px;
}


#documents-list-wrapper #search-bar .datepicker {
    width: 8%;
    font-size: calc(11px + 0.4vw);
    text-align: center;
}


#documents-list-wrapper #search-bar #search-query {
    width: 14%;
    font-size: calc(11px + 0.4vw);
    padding: 1px 5px;
    border-radius: 5px;
}


#products-list-wrapper #search-bar button,
#inventory-wrapper #search-bar button,
#client-list-wrapper #search-bar button,
#suppliers-list-wrapper #search-bar button {
    padding: 3px 5px;
    font-size: calc(12px + 0.4vw);
}

#documents-list-wrapper #search-bar button {
    padding: 3px 5px;
    font-size: calc(12px + 0.4vw);
    margin-left: 1%;
}

#products-list-wrapper table,
#inventory-wrapper table,
#client-list-wrapper table,
#suppliers-list-wrapper table,
#documents-list-wrapper table {
    width: 100%;
    margin-top: 2%;
}

#products-list-wrapper th,
#inventory-wrapper th,
#client-list-wrapper th,
#suppliers-list-wrapper th,
#documents-list-wrapper th {
    background-color: var(--table-header-background);
    padding: 5px 5px;
    font-size: calc(12px + 0.4vw)
}

#products-list-wrapper td,
#inventory-wrapper td,
#client-list-wrapper td,
#suppliers-list-wrapper td,
#documents-list-wrapper td{
    background-color: var(--table-data-background);
    padding: 3px 5px;

}

#products-list-wrapper .numerator,
#inventory-wrapper .numerator,
#client-list-wrapper .numerator,
#suppliers-list-wrapper .numerator {
    width: 3%;
}

#products-list-wrapper .product-name {
    width: 40%;
}

#products-list-wrapper .product-unit,
#inventory-wrapper .product-unit{
    width: 8%;
}

#products-list-wrapper .product-type{
    width: 8%;
}

#products-list-wrapper .product-manufacturer{
    width: 15%;
}

#products-list-wrapper .product-category{
    width: 12%;
}

#products-list-wrapper .product-made-in{
    width: 12%;
}


#inventory-wrapper .product-name{
    width: 50%;
}

#inventory-wrapper .product-exp-date,
#inventory-wrapper .product-lot {
    width: 15%
}

#inventory-wrapper .product-quantity {
    width: 10%;
}


#client-list-wrapper .client-names,
#suppliers-list-wrapper .supplier-name {
    width: 17%;
}

#client-list-wrapper .client-phone,
#suppliers-list-wrapper .supplier-phone {
    width: 14%;
}

#client-list-wrapper .client-email,
#suppliers-list-wrapper .supplier-email {
    width: 16%;
}


#client-list-wrapper .client-id-number,
#suppliers-list-wrapper .supplier-id-number {
    width: 11%;
}

#client-list-wrapper .client-address,
#suppliers-list-wrapper .supplier-address {
    width: 20%;
}


#client-list-wrapper .accountable-person,
#suppliers-list-wrapper .accountable-person {
    width: 17%;
}



#documents-list-wrapper .numerator {
    width: 5%;
}

#documents-list-wrapper .doc-date {
    width: 9%;
    text-align: center;
}

#documents-list-wrapper .doc-time {
    width: 8%;
    text-align: center;
}

#documents-list-wrapper .doc-operator,
#documents-list-wrapper .shipper,
#documents-list-wrapper .doc-type,
#documents-list-wrapper .receiver {
    width: 17%;
}

#documents-list-wrapper .total-sum {
    width: 10%;
    text-align: right;
}







#no-items {
    margin: 1% 0;
    font-size: calc(12px + 0.4vw);
    font-weight: bold;
}