.main {
    margin-top: 10vmin;
    display: flex;
}

.homepage {
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 4vw;
}

.shortcuts {
    display: none;
    box-sizing: border-box;
    justify-content: left;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 4vw;
}

.navigation_tile {
    flex-shrink: 0;
    font-size: 5vw;
    text-align: center;
    box-sizing: border-box;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1vw;
    background-color: chocolate;
}

.navigation_tile p:nth-child(1) {
    flex-grow: 1;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .homepage {
        gap: 5vw;
        padding: 5vw;
    }

    .navigation_tile {
        width: 42.5vw;
        height: 30vw;
        font-size: 6vw;
        padding: 2vw;
    }
}


@media only screen and (min-width: 481px) and (max-width: 810px) {
    .homepage {
        gap: 4vw;
        padding: 4vw;
    }

    .navigation_tile {
        width: 28vw;
        height: 28vw;
        font-size: 4vw;
        padding: 2vw;
    }
}

@media only screen and (min-width: 811px) and (max-width: 1024px) {
    .homepage {
        gap: 4vw;
        padding: 2vw 4vw 2vw 4vw;
    }

    .navigation_tile {
        width: 20vw;
        height: 20vw;
        font-size: 3vw;
        padding: 2vw;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1279px) {
    .homepage {
        gap: 4vw;
        padding: 3vw 7vw 3vw 7vw;
    }

    .navigation_tile {
        width: 14vw;
        height: 14vw;
        font-size: 2vw;
        padding: 1.8vw;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .homepage {
        gap: 3vw;
        padding: 3vw 3vw 3vw 4vw;
        width: 65vw;
    }

    .shortcuts {
        display: flex;
        gap: 3vw;
        padding: 3vw 3vw 3vw 4vw;
        width: 35vw;
        align-content: flex-start;
    }

    .navigation_tile {
        width: 12vw;
        height: 12vw;
        font-size: 1.6vw;
        padding: 1.7vw;
    }
}


@media only screen and (min-width: 1440px) {
    .homepage {
        gap: 3vw;
        padding: 3vw 3vw 3vw 4vw;
        width: 69vw;
    }

    .shortcuts {
        display: flex;
        gap: 3vw;
        padding: 3vw 3vw 3vw 4vw;
        width: 30vw;
        align-content: flex-start;
    }

    .navigation_tile {
        width: 10vw;
        height: 10vw;
        font-size: 1.4vw;
        padding: 1.3vw;
    }
}

