#main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    color: white;
    box-sizing: border-box;
    width: 100%;
    height: 7vh;
    background-color: var(--nav_bar_background);
    font-size: calc(20px + 0.4vw);
    gap: calc(20px + 0.4vw);
    padding: calc(15px + 0.4vw)

    
}

#main-navigation button, a {
    font-size: inherit;
    color: inherit;

}



#navigation-display {
    flex-grow: 2;
    text-align: center;
}
