#receive-wrapper, #ship-wrapper {
    display: flex;
    margin-top: 8vh;
    max-height: 85vh;
    overflow-y: auto;
}


#receive-wrapper #receive-form,
#ship-wrapper #ship-form {
    flex: 0 1 100vw;
}

#receive-wrapper #receive-document,
#ship-wrapper #ship-document {
    display:flex;
    flex-direction: column;
    padding: 2vh;
    margin: 1.5vh;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    background-color: var(--document-background);
}

#receive-wrapper #receive-document-header,
#ship-wrapper #ship-document-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1vh;
}

#receive-wrapper #receive-document-header input,
#ship-wrapper #ship-document-header input {
    font-size: calc(12px + 0.4vw);
}

#receive-wrapper #date,
#ship-wrapper #date {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1vh;
}

#receive-wrapper #departments,
#ship-wrapper #departments {
    display: flex;
    justify-content: space-between;
}

#receive-wrapper #date div div,
#receive-wrapper #departments div div,
#ship-wrapper #date div div,
#ship-wrapper #departments div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1vw 1vw 1vw 1vw;
    min-width: 35vw;
}


#id_shipping_department,
#id_receiving_department {
    font-size: calc(12px + 0.4vw);
}

#receive-wrapper .form-group select,
#receive-wrapper .form-group input,
#ship-wrapper .form-group select,
#ship-wrapper .form-group input {
    flex: 1 0 60%;
    min-width: 40%;
    max-width: 50%;
    padding: 0.3vw 0.5vw;
}

#receive-wrapper .form-group label,
#ship-wrapper .form-group label {
    flex: 0 1 50%;
    min-width: 30%;
    font-size: calc(12px + 0.4vw);
    font-weight: bold;
}



#received-products,
#shipped-products{
    margin-top: 2vh;
}


#received-products table th,
#shipped-products table th {
    font-size: calc(10px + 0.4vw);
    padding: 3px 5px;
    border: 1px solid black;
    height: 2vmax;
}

#received-products table th.numerator,
#shipped-products table th.numerator {
    border-style: none;
}

#received-products .product-form .numerator,
#shipped-products .product-form .numerator{
    width: 3%;
}

#received-products .product-form td,
#shipped-products .product-form td {
    vertical-align: bottom;
}

#received-products .product-form td.name,
#shipped-products .product-form td.name {
    min-width: 45%;
}

#received-products .product-form td.quantity,
#shipped-products .product-form td.quantity {
    width: 5%;
}

#received-products .product-form td.unit,
#shipped-products .product-form td.unit{
    width: 7%;

}

#received-products .product-form td.lot,
#received-products .product-form td.exp-date,
#shipped-products .product-form td.lot,
#shipped-products .product-form td.exp-date {
    width: 11%;
}

#received-products .product-form td.purchase-price,
#received-products .product-form td.product-total,
#shipped-products .product-form td.purchase-price,
#shipped-products .product-form td.product-total {
    width: 9%;
}

#received-products .product-form input,
#shipped-products .product-form input {
    width: 100%;
    font-size: calc(11px + 0.4vw);
    padding: 0 3px;
}

#received-products .product-form td.product-total input,
#shipped-products .product-form td.product-total input,
#received-products .product-form td.unit input,
#shipped-products .product-form td.unit input,
#shipped-products .product-form td.lot input,
#shipped-products .product-form td.exp-date input {
    background-color: var(--read-only-fields-background);
    border-color: rgb(150, 150, 150);
}