#sales-wrapper {
    display: flex;
    margin-top: 7vh;
    max-height: 85vh;
    overflow-y: auto;
}

#sales-form {
    width: 80vw;
}

#quick-product-select {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 80vh;
    padding-right: 2vw;
    margin-top: 7vh;
    font-size: 1.2vw;
    justify-content: flex-start;
    color: white;
    gap: 2%;
    position: fixed;
    right: 0;
    top: 2vw;
}


#sale-document {
    display:flex;
    flex-direction: column;
    padding: 2vw;
    margin: 2vw;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    background-color: #efefef;

}

#sale-document-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1vh;
}

#sales-wrapper #department-and-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

#sales-wrapper #department-and-date div div{
    border: 1px solid black;
    border-radius: 3px;
    padding: 1vw 1vw 1vw 1vw;
    min-width: 26vw;
}


#client-and-invoice-data {
    display: flex;
    justify-content: space-between;
}

#invoice-number-and-dates, #buyer-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5vh;
    padding: 1vw;
    border: 1px solid black;
    border-radius: 3px;
    min-width: 26vw;
}

#id_is_linked_to_invoice{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 1vw;
}

#invoice-toggled-fields, #buyer-data-toggle-fields {
    display: flex;
    flex-direction: column;
}


#sales-wrapper .form-group {
    display: flex;
    gap: 0.5vw;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}


#sales-wrapper .form-group select{
    width: 100%;
    background-color: white;
    font-size: inherit;
    padding-left: 0.5vw;
}

#sales-wrapper #invoice-number-and-dates{
    font-weight: bold;
}

.quick-select-tile {
    padding: 0.5vw 1vw;
    background-color: rgba(0, 119, 119, 0.5);
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    height: 10%;
}

.quick-select-tile:hover {
    box-shadow: var(--buttons-hover);
}

.quick-select-tile:active {
    box-shadow: var(--buttons-active);
}


#sold-products {
    margin-top: 2vh;
}


#sold-products table th{
    font-size: calc(10px + 0.4vw);
    padding: 0 3px;
    border: 1px solid #5c949f;
    background-color: #e7e7e7;
}

#sales-wrapper .product-form td,
#sales-wrapper .product-form input,
#sale-document-header input{
    font-size: calc(10px + 0.4vw);
}

#sales-wrapper .product-form td {
    vertical-align: bottom;
}

#sales-wrapper .product-form .numerator {
    width: 3%;
}

#sales-wrapper .product-form .name {
    min-width: 40%;
}

#sales-wrapper .product-form .quantity {
    width: 5%;
}

#sales-wrapper .product-form .unit {
    width: 5%;
}

#sales-wrapper .product-form .lot {
    width: 10%;
}

#sales-wrapper .product-form .exp-date {
    width: 11%;
}

#sales-wrapper .product-form .price-before-tax,
#sales-wrapper .product-form .price-with-tax {
    width: 9%;
}


#sales-wrapper .product-form .discount {
    width: 7%;
}

#sales-wrapper .product-form .total-before-tax,
#sales-wrapper .product-form .total-with-tax {
    width: 10%;
}


#sales-wrapper .product-form input {
    width: 100%;
    padding: 0 3px;
}


#sales-wrapper .product-form .unit input,
#sales-wrapper .product-form .lot input,
#sales-wrapper .product-form .exp-date input {
    text-align: center;
}

#sales-wrapper .product-form .quantity input,
#sales-wrapper .product-form .price-before-tax input,
#sales-wrapper .product-form .price-with-tax input,
#sales-wrapper .product-form .discount input,
#sales-wrapper .product-form .total-before-tax input,
#sales-wrapper .product-form .total-with-tax input {
    text-align: right;
}



 /* format the dropdown menu when selecting a product */

.products-dropdown.ui-menu-item-wrapper {
    display: flex;
    flex-wrap: nowrap;
}
.products-dropdown.ui-menu-item-wrapper span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding: 3px;
}

.products-dropdown.ui-menu-item-wrapper span:nth-child(1) {
    flex: 5 0 58%;
}

.products-dropdown.ui-menu-item-wrapper span:nth-child(2) {
    text-align: center;
    flex: 1 0 5%;
}

.products-dropdown.ui-menu-item-wrapper span:nth-child(3) {
    text-align: center;
    flex: 1 0 9%;
}

.products-dropdown.ui-menu-item-wrapper span:nth-child(4),
.products-dropdown.ui-menu-item-wrapper span:nth-child(5) {
    text-align: center;
    flex: 2 0 14%;
}


#rotate-screen-prompt {
    display: none;
    font-size: 5.5vw;
    font-weight: bold;
    width: 80vw;
    margin-left: 2vw;
    margin-top: 5vh;
    padding: 1vw;
    background-color: cornsilk;
    border-radius: 1vw;
    text-align: center;

}

@media only screen and (max-width: 1080px) {
    #quick-product-select {
        display: none;
    }

    #sales-form {
        flex: 1 1 95vw;
    }
}

@media only screen and (max-width: 600px) {
    #rotate-screen-prompt {
        display: block;
    }
}
