#settings-wrapper {
    display: flex;
    margin-top: 7vh;
}

#settings-list {
    background-color: crimson;
    margin-left: 18vmin;
    padding: 2vh 2vw;

}

#settings-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 18vmin;
    height: 100%;
    background-color: rgb(18,149,152,0.5);
    gap: 1vh;
    padding: 1vh 1vw;
    position: fixed;
}

.settings-navigation-button {
    padding: 0.5vw 1.5vw;
    background-color: rgba(0, 119, 119, 0.5);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 2.8vmin;
    text-align: left;
}

.settings-navigation-button:hover {
    box-shadow: var(--buttons-hover);
}

.settings-navigation-button:active {
    box-shadow: var(--buttons-active);
}



