:root {
    --nav_bar_background: #38889a;
    --buttons_background: rgba(0, 119, 119, 0.4);
    --main-background: #3d3d3d;
    --document-background:rgba(235, 235, 235, 0.9);


    --buttons-hover:  inset 0 0 2px rgba(255, 255, 255, 0.8),
                      inset 0 0 4px rgba(255, 255, 255, 0.8),
                      inset 0 0 8px rgba(255, 255, 255, 0.8),
                      inset 0 0 16px rgba(255, 255, 255, 0.8),
                      0 0 2px rgba(255, 255, 255, 0.8),
                      0 0 4px rgba(255, 255, 255, 0.8),
                      0 0 8px rgba(255, 255, 255, 0.8),
                      0 0 16px rgba(255, 255, 255, 0.8);

    --buttons-active: inset 0 0 16px rgba(0, 255, 209, 0.8),
                      inset 0 0 32px rgba(0, 255, 209, 0.8),
                      inset 0 0 64px rgba(0, 255, 209, 0.8),
                      inset 0 0 128px rgba(0, 255, 209, 0.8),
                      0 0 2px rgba(255, 255, 255, 0.8),
                      0 0 4px rgba(255, 255, 255, 0.8),
                      0 0 8px rgba(255, 255, 255, 0.8),
                      0 0 16px rgba(255, 255, 255, 0.8);

    --table-header-background: #e7e7e7;
    --table-data-background: white;
}

.errorlist li{
    font-size: 1.2vmax;
    color:firebrick;
    background-color: white;
    border: 2px solid dimgrey;
    border-radius: 5px;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    list-style-type: none;
}
