/*:root {*/
/*    --nav_bar_background: #38889a;*/
/*    --buttons_background: rgba(0, 119, 119, 0.4);*/
/*    --main-background: #3d3d3d;*/
/*    --background-image:url("/static/images/background_8.png");*/
/*    --document-background:rgba(240, 240, 240, 0.9);*/
/*    --document-text-color: black;*/
/*    --document-fields-background-color: white;*/
/*    --read-only-fields-background: rgba(240, 240, 240);*/
/*    --navigation-text-color: #FFFFFF;*/
/*    --navigation-tile-border-color: #FFFFFF;*/


/*    --buttons-hover:  inset 0 0 2px rgba(255, 255, 255, 0.8),*/
/*                      inset 0 0 4px rgba(255, 255, 255, 0.8),*/
/*                      inset 0 0 8px rgba(255, 255, 255, 0.8),*/
/*                      inset 0 0 16px rgba(255, 255, 255, 0.8),*/
/*                      0 0 2px rgba(255, 255, 255, 0.8),*/
/*                      0 0 4px rgba(255, 255, 255, 0.8),*/
/*                      0 0 8px rgba(255, 255, 255, 0.8),*/
/*                      0 0 16px rgba(255, 255, 255, 0.8);*/

/*    --buttons-active: inset 0 0 16px rgba(0, 255, 209, 0.8),*/
/*                      inset 0 0 32px rgba(0, 255, 209, 0.8),*/
/*                      inset 0 0 64px rgba(0, 255, 209, 0.8),*/
/*                      inset 0 0 128px rgba(0, 255, 209, 0.8),*/
/*                      0 0 2px rgba(255, 255, 255, 0.8),*/
/*                      0 0 4px rgba(255, 255, 255, 0.8),*/
/*                      0 0 8px rgba(255, 255, 255, 0.8),*/
/*                      0 0 16px rgba(255, 255, 255, 0.8);*/

/*    --table-header-background: #e7e7e7;*/
/*    --table-data-background: white;*/
/*}*/


/* -----------------------------Parameters for a second color theme -------------------------*/
:root {
    --nav_bar_background: rgb(10, 40, 40);
    --buttons_background: rgba(10, 69, 69, 0.4);
    --main-background: #1F2833;
    --background-image:url("/static/images/background-dark.jpg");
    --document-background: rgba(80, 80, 80, 0.8);
    --document-text-color: rgb(102, 252, 241);
    --document-fields-background-color: rgb(70, 70, 75, 0.8);
    --read-only-fields-background: rgb(70, 75, 70, 0.8);
    --navigation-text-color: rgb(102, 252, 241);
    --navigation-tile-border-color: rgb(69, 162, 158);


    --buttons-hover:  inset 0 0 2px rgba(102, 252, 241, 0.8),
                      inset 0 0 4px rgba(102, 252, 241, 0.8),
                      inset 0 0 8px rgba(102, 252, 241, 0.8),
                      inset 0 0 16px rgba(102, 252, 241, 0.8),
                      0 0 2px rgba(69, 162, 158, 0.8),
                      0 0 4px rgba(69, 162, 158, 0.8),
                      0 0 8px rgba(69, 162, 158, 0.8),
                      0 0 16px rgba(69, 162, 158, 0.8);

    --buttons-active: inset 0 0 16px rgba(102, 252, 241, 0.8),
                      inset 0 0 32px rgba(102, 252, 241, 0.8),
                      inset 0 0 64px rgba(102, 252, 241, 0.8),
                      inset 0 0 128px rgba(102, 252, 241, 0.8),
                      0 0 2px rgba(255, 255, 255, 0.8),
                      0 0 4px rgba(255, 255, 255, 0.8),
                      0 0 8px rgba(255, 255, 255, 0.8),
                      0 0 16px rgba(255, 255, 255, 0.8);

    --table-header-background: rgb(102, 252, 241);
    --table-data-background: white;
}









.errorlist li{
    font-size: 1.2vmax;
    color:firebrick;
    background-color: white;
    border: 2px solid dimgrey;
    border-radius: 5px;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    list-style-type: none;
}
