#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-page form {
    padding: 2vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20vh;
}

#login-page form p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

#login-page form p label{
    font-weight: bold;
    padding-right: 1vw;
}

#login-page form div{
    text-align: right;
}

#login-page form div button {
    font-weight: bold;
    padding: 5px;
}

#login-page #demo-button {
    padding: 1vw 3vw;
    color: #be0f38;
    font-weight: bold;
    font-size: calc(20px + 0.4vw);
    border: 1px solid #be0f38;
    border-radius: 1vw;
}