
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content%}
    <div id="sales_wrapper">
        <form id="sales_form" method="post" action="{% url 'sale_new' %}">
            {% csrf_token %}
            <section id="paper">
                <div id="paper-header">
                    <div id="operator_data">
                        {{ sales_document_form.department }}
                        {{ sales_document_form.warehouse }}
                        {{ sales_document_form.operator }}
                    </div>

                    <div id="invoice-data">
                        <div id="invoice-number-and-dates">
                            <span>
                            <label for="invoice-checkbox">Invoice</label>
                            <input type="checkbox" id="invoice-checkbox">
                                </span>
                            <div id="invoice-toggled-fields">
                                {{ invoice_data_formset.management_form }}
                                <div class="form-group">
                                    <label for="{{ invoice_data_formset.forms.0.invoice_number }}">{{ invoice_data_formset.forms.0.invoice_number.label }}: </label>
                                    {{ invoice_data_formset.forms.0.invoice_number }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ invoice_data_formset.forms.0.invoice_date }}">{{ invoice_data_formset.forms.0.invoice_date.label }}: </label>
                                    {{ invoice_data_formset.forms.0.invoice_date }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ invoice_data_formset.forms.0.invoice_due_date }}">{{ invoice_data_formset.forms.0.invoice_due_date.label }}: </label>
                                    {{ invoice_data_formset.forms.0.invoice_due_date }}
                                </div>
                            </div>
                        </div>
                        <div id="buyer-data">
                            <div class="form-group">
                                <label for="{{ invoice_data_formset.forms.0.buyer_name.id_for_label }}">{{ invoice_data_formset.forms.0.buyer_name.label }}: </label>
                                {{ invoice_data_formset.forms.0.buyer_name }}
                            </div>

                            <div class="form-group">
                                <label for="{{ invoice_data_formset.forms.0.buyer_identification_number.id_for_label }}">{{ invoice_data_formset.forms.0.buyer_identification_number.label }}: </label>
                                {{ invoice_data_formset.forms.0.buyer_identification_number }}
                            </div>
                            <div class="form-group">
                                <label for="{{ invoice_data_formset.forms.0.buyer_address.id_for_label }}">{{ invoice_data_formset.forms.0.buyer_address.label }}: </label>
                                {{ invoice_data_formset.forms.0.buyer_address }}
                            </div>
                            <div class="form-group">
                                <label for="{{ invoice_data_formset.forms.0.buyer_accountable_person_for_label }}">{{ invoice_data_formset.forms.0.buyer_accountable_person.label }}: </label>
                                {{ invoice_data_formset.forms.0.buyer_accountable_person }}
                            </div>
                            <div class="form-group">
                                <label for="{{ invoice_data_formset.forms.0.buyer_representative.id_for_label }}">{{ invoice_data_formset.forms.0.buyer_representative.label }}: </label>
                                {{ invoice_data_formset.forms.0.buyer_representative }}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sold-products">
                    {{ sold_products_formset.management_form }}
                    <table>
                      <thead>
                        <tr>
                            <th>#</th>
                            <th>{% translate 'Name' %}</th>
                            <th>{% translate 'Qty' %}</th>
                            <th>{% translate 'LOT' %}</th>
                            <th>{% translate 'Exp. date' %}</th>
                            <th>{% translate 'Price before VAT' %}</th>
                            <th>{% translate 'Price' %}</th>
                            <th>{% translate 'Discount %' %}</th>
                            <th>{% translate 'Amount before VAT' %}</th>
                            <th>{% translate 'Amount' %}</th>
                        </tr>
                      </thead>
                      <tbody>

                            {% for form in sold_products_formset %}

                                <tr class="product-form">
                                    <td class="numerator">{{ forloop.counter }}</td>
                                    <td>{{ form.product_name }}</td>
                                    <td>{{ form.product_quantity }}</td>
                                    <td>{{ form.product_lot_number }}</td>
                                    <td>{{ form.product_exp_date }}</td>
                                    <td>{{ form.product_price_before_tax }}</td>
                                    <td>{{ form.product_price }}</td>
                                    <td>{{ form.product_discount }}</td>
                                    <td>{{ form.product_total_before_tax }}</td>
                                    <td>{{ form.product_total }}</td>
                                </tr>

                            {% endfor %}


                      </tbody>

                    </table>

                        <button id="add-row">Click</button>

                </div>

            </section>
         <input type="submit" value="Submit">
        </form>
        <section id="quick_product_select">
            <div class="quick_select_tile">
                <p>Crepes</p>
            </div>
            <div class="quick_select_tile">
                <p>Croissant</p>
            </div>
                <div class="quick_select_tile">
                <p>B12</p>
            </div>
                 <div class="quick_select_tile">
                <p>Crack</p>
            </div>
                 <div class="quick_select_tile">
                <p>Red bull</p>
            </div>
        </section>
    </div>
    <script src="{% static 'js/sale_document.js' %}"></script>


{% endblock %}
