
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content%}
    <div id="sales-wrapper">
        <form id="sales-form" method="post" action="{% url 'sale_new' %}" autocomplete="off">
            {% csrf_token %}
            <section id="sale-document">
                <div id="sale-document-header">
                    <div id="department-and-date">
                        <div>
                            {{ sales_document_form.department.errors }}
                            <div class="form-group">
                                <label for="id_department">{% translate 'Department: ' %}</label>
                                {{ sales_document_form.department }}
                            </div>
                        </div>
                        <div>
                            {{ sales_document_form.date.errors }}
                            <div class="form-group">
                                <label for="id_date">{% translate 'Date:' %}</label>
                                {{ sales_document_form.date }}
                            </div>
                        </div>
                    </div>
                    <div id="client-and-invoice-data">
                        <div id="invoice-number-and-dates">
                            <div>
                                <label for="id_is_linked_to_invoice">Invoice</label>
                                {{ sales_document_form.is_linked_to_invoice }}
                            </div>
                            <div id="invoice-toggled-fields">
                                {{ invoice_data_form.invoice_number.errors }}
                                <div class="form-group">
                                    <label for="{{ invoice_data_form.invoice_number.id_for_label }}">{{ invoice_data_form.invoice_number.label }}: </label>
                                    {{ invoice_data_form.invoice_number }}
                                </div>
                                {{ invoice_data_form.invoice_date.errors }}
                                <div class="form-group">
                                    <label for="{{ invoice_data_form.invoice_date.id_for_label }}">{{ invoice_data_form.invoice_date.label }}: </label>
                                    {{ invoice_data_form.invoice_date }}
                                </div>
                                {{ invoice_data_form.invoice_due_date.errors }}
                                <div class="form-group">
                                    <label for="{{ invoice_data_form.invoice_due_date.id_for_label }}">{{ invoice_data_form.invoice_due_date.label }}: </label>
                                    {{ invoice_data_form.invoice_due_date }}
                                </div>
                            </div>
                        </div>
                        <div id="buyer-data">
                            {{ sales_document_form.buyer_name.errors }}
                            <div class="form-group">
                                <label for="{{ sales_document_form.buyer_name.id_for_label }}">{{ sales_document_form.buyer_name.label }}: </label>
                                {{ sales_document_form.buyer_name }}
                            </div>
                            <div id="buyer-data-toggle-fields">
                                {{ invoice_data_form.buyer_identification_number.errors }}
                                <div class="form-group">
                                    <label for="{{ invoice_data_form.buyer_identification_number.id_for_label }}">{{ invoice_data_form.buyer_identification_number.label }}: </label>
                                    {{ invoice_data_form.buyer_identification_number }}
                                </div>
                                 {{ invoice_data_form.buyer_address.errors }}
                                <div class="form-group">
                                    <label for="{{ invoice_data_form.buyer_address.id_for_label }}">{{ invoice_data_form.buyer_address.label }}: </label>
                                    {{ invoice_data_form.buyer_address }}
                                </div>
                                {{ invoice_data_form.buyer_accountable_person.errors }}
                                <div class="form-group">
                                    <label for="{{ invoice_data_form.buyer_accountable_person.id_for_label }}">{{ invoice_data_form.buyer_accountable_person.label }}: </label>
                                    {{ invoice_data_form.buyer_accountable_person }}
                                </div>
                                {{ invoice_data_form.buyer_representative.errors }}
                                <div class="form-group">
                                    <label for="{{ invoice_data_form.buyer_representative.id_for_label }}">{{ invoice_data_form.buyer_representative.label }}: </label>
                                    {{ invoice_data_form.buyer_representative }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sold-products">
                    {{ sold_products_formset.management_form }}
                    <table>
                      <thead>
                        <tr>
                            <th class="numerator">#</th>
                            <th class="name">{% translate 'Name' %}</th>
                            <th class="quantity">{% translate 'Qty' %}</th>
                            <th class="unit">{% translate 'Unit' %}</th>
{#                            <th class="lot">{% translate 'LOT' %}</th>#}
{#                            <th class="exp-date">{% translate 'Exp. date' %}</th>#}
                            <th class="price-before-tax">{% translate 'Price before TAX' %}</th>
                            <th class="price-with-tax">{% translate 'Price' %}</th>
                            <th class="discount">{% translate 'Discount %' %}</th>
                            <th class="total-before-tax">{% translate 'Amount before TAX' %}</th>
                            <th class="total-with-tax">{% translate 'Amount' %}</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for form in sold_products_formset %}
                                <tr class="product-form">
                                    <td class="numerator">{{ forloop.counter }}</td>
                                    <td class="name">
                                        {{ form.product_name.errors }}
                                        {{ form.product_name }}
                                    </td>
                                    <td class="quantity">
                                        {{ form.product_quantity.errors }}
                                        {{ form.product_quantity }}
                                    </td>
                                    <td class="unit">{{ form.product_unit }}</td>
{#                                    <td class="lot">{{ form.product_lot_number }}</td>#}
{#                                    <td class="exp-date">{{ form.product_exp_date }}</td>#}
                                    <td class="price-before-tax">
                                        {{ form.product_price_before_tax.errors}}
                                        {{ form.product_price_before_tax }}
                                    </td>
                                    <td class="price-with-tax">
                                        {{ form.product_price.errors }}
                                        {{ form.product_price }}
                                    </td>
                                    <td class="discount">{{ form.product_discount }}</td>
                                    <td class="total-before-tax">
                                        {{ form.product_total_before_tax.errors }}
                                        {{ form.product_total_before_tax }}
                                    </td>
                                    <td class="total-with-tax">
                                        {{ form.product_total.errors }}
                                        {{ form.product_total }}
                                    </td>
                                </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                </div>
            </section>

            <div id="rotate-screen-prompt">{% translate 'Please use in landscape mode' %}</div>

            <section id="quick-product-select">
                <div class="quick-select-tile">
                    <p>Crepes</p>
                </div>
                <div class="quick-select-tile">
                    <p>Croissant</p>
                </div>
                <div class="quick-select-tile">
                    <p>B12</p>
                </div>
                <div class="quick-select-tile">
                    <p>Crack</p>
                </div>
                <div class="quick-select-tile">
                    <p>Red bull</p>
                </div>
                <div class="quick-select-tile">
                    <p>Crepes</p>
                </div>
                <div class="quick-select-tile">
                    <p>Crepes</p>
                </div>
                <div class="quick-select-tile">
                    <p>Crepes</p>
                </div>
                <div class="quick-select-tile">
                    <p>Crepes</p>
                </div>
            </section>

            <footer>
                <div id="sums-and-button">
                    <div id="total_before_tax">
                        {{ sales_document_form.sale_total_before_tax.errors }}
                        <label for="id_sale_total_before_tax">{% translate 'Net total:' %}</label>
                        {{ sales_document_form.sale_total_before_tax }}
                    </div>
                    <div id="total_tax">
                        {{ sales_document_form.sale_total_tax.errors }}
                        <label for="id_sale_total_tax">{% translate 'VAT:' %}</label>
                        {{ sales_document_form.sale_total_tax }}
                    </div>

                    <div>
                        {{ sales_document_form.sale_total_final.errors }}
                        <label for="id_sale_total_final">{% translate 'TOTAL:' %}</label>
                        {{ sales_document_form.sale_total_final }}
                    </div>
                    <button id="footer-ok-button" type="submit"><i class="fa-solid fa-check"></i></button>
                </div>

                <div id="payment-display">
                    {{ sales_document_form.payment_method.errors }}
                    <label for="id_payment_method">{% translate 'Payment:' %}</label>
                    {{ sales_document_form.payment_method }}
                </div>

            </footer>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src={% static '/js/common.js'%}></script>
    <script src="{% static 'js/date_picker.js' %}"></script>
    <script src="{% static 'js/sale_document.js' %}"></script>


{% endblock %}
