{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <script src="https://kit.fontawesome.com/11b5b56734.js" crossorigin="anonymous"></script>
    <title>ERGO</title>
</head>
<body>
    <header>
        <div class="home_button">
            <a href="#"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="back_button">
            <a href="#">Back</a>
        </div>
        <div class="navigation_display">
            <p>This is home</p>
        </div>
        <div class="next_button">
            <button>Next</button>
        </div>
        <div class="page_setting">
            <a href="#"><i class="fa-solid fa-gear"></i></a>
        </div>
    </header>

    {% block content%}
    {% endblock %}

</body>
</html>