{% load i18n %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <script src="https://kit.fontawesome.com/11b5b56734.js" crossorigin="anonymous"></script>
    <title>ERGO</title>
</head>
<body>
    <nav id="main-navigation">
        <div id="home-button">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>
        {% if template_verbose_name %}
            <div id="navigation-display">
                {{template_verbose_name}}
            </div>
        {% endif %}
        {% if template_verbose_name == 'Products' %}
            <div id="plus-sign-new">
                <a href="/products/new/" target="_blank"><i class="fa-solid fa-plus"></i></a>
            </div>
        {% endif %}
        {% if template_verbose_name == 'Sale' %}
            <div id="save">
                <a href="#"><i class="fa-solid fa-floppy-disk"></i></a>
            </div>
        {% endif %}
        <div id="user">
            <i class="fa-solid fa-user"></i>
            {% if user.is_authenticated %}
                {{ user.first_name }}
                {{ user.last_name }}
            {% endif %}
        </div>

        <div id="settings">
            <a href="/settings/"><i class="fa-solid fa-gear"></i></a>
        </div>
    </nav>

    <div id="user-profile-tooltip">
        {% if user.is_authenticated %}
            <p>User names</p>
            <a href="/user/logout">
                <button>{% translate 'Logout'%}</button>
            </a>
            <a href="/user/create">
                <button>{% translate 'Create user'%}</button>
            </a>
        {% else %}
            <a href="/user/login">
                <button>{% translate 'Login'%}</button>
            </a>
        {% endif %}
    </div>

    <main id="main-wrapper">
        {% block content%}
        {% endblock %}
    </main>


</body>
</html>