{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <script src="https://kit.fontawesome.com/11b5b56734.js" crossorigin="anonymous"></script>
    <title>ERGO</title>
</head>
<body>
    <nav>
        <div class="home_button">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="back_button">
            <a href="#"><i class="fa-solid fa-left-long"></i></a>
        </div>
        <div class="navigation_display">
            <p>Main menu</p>
        </div>
        <div class="next_button">
            <button><i class="fa-solid fa-check"></i></button>
        </div>
        <div class="settings">
            <a href="/settings/"><i class="fa-solid fa-gear"></i></a>
        </div>
    </nav>

    <main id="main_wrapper">
        {% block content%}
        {% endblock %}
    </main>


</body>
</html>