{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div id="documents-list-wrapper">

    <form id=search-bar method="get" action="">
        <label for="date">Date</label>
        <input name="date" class="datepicker">
        <label for="operator">Operator</label>
        <select name="operator">
            <option value="">All</option>
            {% for operator in operators %}
                <option value="{{ operator.username }}" {% if operator.username == request.GET.department %}selected{% endif %}>
                    {{ operator.username}}
                </option>
            {% endfor %}
        </select>
        <label for="type">Document type</label>
        <select name="type">
            <option value="">All</option>
            {% for type in names_dict.values %}
                <option value="{{ type }}" {% if type == request.GET.type %}selected{% endif %}>
                    {{ type }}
                </option>
            {% endfor %}
        </select>
        <label for="ship-department">From Department</label>
        <select name="ship-department">
            <option value="">All</option>
            {% for dept in departments %}
                <option value="{{ dept.name }}" {% if dept.name == request.GET.department %}selected{% endif %}>
                    {{ dept.name }}
                </option>
            {% endfor %}
        </select>
        <label for="receive-department">To </label>
        <select name="receive-department">
            <option value="">All</option>
            {% for obj in final_list %}
                 {% with buyer_name=doc.buyer_name receiving_department=doc.receiving_department %}
                    <option value=" {{ buyer_name|default:receiving_department }}" {% if dept.name == request.GET.receiver %}selected{% endif %}>
                         {{ buyer_name|default:receiving_department }}
                    </option>
                {% endwith %}
            {% endfor %}
        </select>

        <button type="submit">Filter</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>{% translate 'Date' %}</th>
                <th>{% translate 'Time' %}</th>
                <th>{% translate 'Operator' %}</th>
                <th>{% translate 'Type' %}</th>
                <th>{% translate 'From department' %}</th>
                <th>{% translate 'Total' %}</th>
                <th>{% translate 'To' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in final_list %}
                <tr>
                    <td class="numerator">{{ forloop.counter }}</td>
                    <td class="doc-date">{{ doc.date }}</td>
                    <td class="doc-time">{{ doc.time }}</td>
                    <td class="doc-operator">{{ doc.operator }}</td>
                    <td class="doc-type">{{ doc.document_type }}</td>
                    {% with department=doc.department shipping=doc.shipping_department %}
                        <td class="shipping-department">
                        {{ department|default:shipping}}
                        </td>
                    {% endwith %}
                    {% with sale_total_final=doc.sale_total_final total_sum=doc.total_sum %}
                        <td class="client-names">
                        {{ sale_total_final|default:total_sum }}
                        </td>
                    {% endwith %}
                    {% with buyer_name=doc.buyer_name receiving_department=doc.receiving_department %}
                        <td class="client-names">
                        {{ buyer_name|default:receiving_department }}
                        </td>
                    {% endwith %}

{#                    <td><a href="{% url 'clients_edit' pk=client.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>#}
                </tr>
            {% empty %}
                <div id="no-items">No documents found.</div>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}