{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<div id="documents-list-wrapper">

    <form id=search-bar method="get" action="">
        <label for="date">Date</label>
        <input type="text" name="date" id="date" class="datepicker" placeholder="All" value="{{ date }}">
        <label for="operator">Operator</label>
        <select name="operator">
            <option value="">All</option>
            {% for operator in operators %}
                <option value="{{ operator.username }}" {% if operator.username == request.GET.operator %}selected{% endif %}>
                    {{ operator.username}}
                </option>
            {% endfor %}
        </select>
        <label for="type">Type</label>
        <select name="type" id="type">
            <option value="">All</option>
            {% for type in names_dict.values %}
                <option value="{{ type }}" {% if type == request.GET.type %}selected{% endif %}>
                    {{ type }}
                </option>
            {% endfor %}
        </select>
        <label for="shipper">From</label>
        <select name="shipper">
            <option value="">All</option>
            {% for department in departments %}
                <option value="{{ department.name }}" {% if department.name == request.GET.shipper %}selected{% endif %}>
                    {{ department.name }}
                </option>
            {% endfor %}
        </select>
        <label for="search_query">To </label>
            <input type="text" id="search-query" name="search_query" value="{{ search_query }}" placeholder="All">
        <button type="submit">Filter</button>
        <button type="reset" id="reset-button">Clear</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>{% translate 'Date' %}</th>
                <th>{% translate 'Time' %}</th>
                <th>{% translate 'Operator' %}</th>
                <th>{% translate 'Type' %}</th>
                <th>{% translate 'From department' %}</th>
                <th>{% translate 'Total' %}</th>
                <th>{% translate 'To' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in final_list %}
                <tr>
                    <td class="numerator">{{ forloop.counter }}</td>
                    <td class="doc-date">{{ doc.date|date:"d.m.Y" }}</td>
                    <td class="doc-time">{{ doc.time|time:"H:i:s" }}</td>
                    <td class="doc-operator">{{ doc.operator }}</td>
                    <td class="doc-type">{{ doc.document_type }}</td>
                    {% with department=doc.department shipping=doc.shipping_department %}
                        <td class="shipping-department">
                        {{ department|default:shipping}}
                        </td>
                    {% endwith %}
                    {% with sale_total_final=doc.sale_total_final total_sum=doc.total_sum %}
                        <td class="total-sum">
                        {{ sale_total_final|default:total_sum }}
                        </td>
                    {% endwith %}
                    {% with buyer_name=doc.buyer_name receiving_department=doc.receiving_department %}
                        <td class="receiver">
                        {{ buyer_name|default:receiving_department }}
                        </td>
                    {% endwith %}

{#                    <td><a href="{% url 'clients_edit' pk=client.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>#}
                </tr>
            {% empty %}
                <div id="no-items">No documents found.</div>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}
{% block extra_scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/date_picker.js' %}"></script>
{% endblock %}