{% extends 'base.html' %}

{% block  content %}
<div class="main_homepage">
    <section class="main_menu">
        <a href="#">
            <div class="navigation_tile">
                <p>Sale</p>
                <p><i class="fa-solid fa-basket-shopping"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Warehouse receiving</p>
                <p><i class="fa-solid fa-truck-ramp-box"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Orders to suppliers</p>
                <p><i class="fa-solid fa-list"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Inventory</p>
                <p><i class="fa-solid fa-cubes"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Documents</p>
                <p><i class="fa-solid fa-file-lines"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Stats</p>
                <p><i class="fa-solid fa-chart-line"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Clients</p>
                <p><i class="fa-solid fa-people-roof"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Items and services</p>
                <p><i class="fa-solid fa-tags"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Suppliers</p>
                <p><i class="fa-solid fa-building-user"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Money flow</p>
                <p><i class="fa-solid fa-money-bill-1-wave"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Shipping</p>
                <p><i class="fa-solid fa-truck-fast"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Personnel</p>
                <p><i class="fa-solid fa-people-group"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Schedule</p>
                <p><i class="fa-regular fa-calendar-days"></i></p>
            </div>
        </a>
    </section>


    <section class="shortcuts">
         <a href="#">
            <div class="navigation_tile">
                <p>Sale</p>
                <p><i class="fa-solid fa-basket-shopping"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Warehouse receiving</p>
                <p><i class="fa-solid fa-truck-ramp-box"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Orders to suppliers</p>
                <p><i class="fa-solid fa-list"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Inventory</p>
                <p><i class="fa-solid fa-cubes"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Documents</p>
                <p><i class="fa-solid fa-file-lines"></i></p>
            </div>
        </a>
        <a href="#">
            <div class="navigation_tile">
                <p>Stats</p>
                <p><i class="fa-solid fa-chart-line"></i></p>
            </div>
        </a>
    </section>
</div>

{% endblock %}