{% extends 'base.html' %}

{% block  content %}

<div class="homepage">
    <div class="navigation_tile">
        <p>Sales</p>
        <p><i class="fa-solid fa-basket-shopping"></i></p>
    </div>
    <div class="navigation_tile">
        <p>Putaway</p>
        <p><i class="fa-solid fa-truck-ramp-box"></i></p>
    </div>
    <div class="navigation_tile">
        <p>Inventory</p>
        <p><i class="fa-solid fa-boxes-stacked"></i></p>
    </div>
    <div class="navigation_tile">
        <p>Documents</p>
        <p><i class="fa-solid fa-file-lines"></i></p>
    </div>
    <div class="navigation_tile">
        <p>Inquiry</p>
        <p><i class="fa-solid fa-list"></i></p>
    </div>
    <div class="navigation_tile">
        <p>Partners</p>
        <p><i class="fa-solid fa-handshake"></i></p>
    </div>
    <div class="navigation_tile">
        <p>Category</p>
    </div>
    <div class="navigation_tile">
        <p1>Category</p1>
    </div>

</div>

{% endblock %}