{% extends 'base.html' %}
{% load static %}
{% block  content %}


<div id="settings-wrapper">

    <nav id="settings-navigation">
        <button class="settings-navigation-button">
            <p>General</p>
        </button>
        <button class="settings-navigation-button" id="sale-settings-nav">
            <p>Sale</p>
        </button>
        <button class="settings-navigation-button">
            <p>General</p>
        </button>
        <button class="settings-navigation-button">
            <p>General</p>
        </button>
        <button class="settings-navigation-button">
            <p>General</p>
        </button>
    </nav>

    <div id="settings-list">
        <section id="sale-settings">
{#           the modeform field for default sale document checkbox#}
            <label for="default_sale_document">Default sales document is an invoice</label>
            <input type="checkbox" id="default_sale_document">
        </section>
    </div>
</div>
<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}