{% extends 'base.html' %}
{% load static %}
{% block  content %}


<div id="settings-wrapper">

    <nav id="settings-navigation">
        <button class="settings-navigation-button">
            <p>Main menu</p>
        </button>
        <button class="settings-navigation-button" id="sale-settings-nav">
            <p>Sale</p>
        </button>
        <button class="settings-navigation-button">
            <p>General</p>
        </button>
        <button class="settings-navigation-button">
            <p>General</p>
        </button>
        <button class="settings-navigation-button">
            <p>General</p>
        </button>
    </nav>

    <div id="settings-list">
        <form method="post">
            <button type="submit">Submit</button>
        {% csrf_token %}
            <section id="general-settings">
                <h2>General settings</h2>
                <label for="id_default_department">Default department </label>
                {{ user_settings_form.default_department }}
            </section>
            <section id="main-menu-settings">
                <h2>Main menu settings</h2>
                <label for="id_show_main_menu_shortcuts">Shortcuts in main menu </label>
                {{ user_settings_form.show_main_menu_shortcuts }}
                <div id="settings-shortcuts-fields">
                    <div class="main-menu-settings-group">
                        <span>
                            <label for="shortcut1-name">Name: </label>
                            <input type="text" id="shortcut1-name">
                        </span>
                        <span>
                            <label for="shortcut1-link">Link: </label>
                            <input type="text" id="shortcut1-link">
                        </span>
                    </div>
                    <div class="main-menu-settings-group">
                        <span>
                            <label for="shortcut1-name">Name: </label>
                            <input type="text" id="shortcut1-name">
                        </span>
                        <span>
                            <label for="shortcut1-link">Link: </label>
                            <input type="text" id="shortcut1-link">
                        </span>
                    </div>
                    <div class="main-menu-settings-group">
                        <span>
                            <label for="shortcut1-name">Name: </label>
                            <input type="text" id="shortcut1-name">
                        </span>
                        <span>
                            <label for="shortcut1-link">Link: </label>
                            <input type="text" id="shortcut1-link">
                        </span>
                    </div>
                    <div class="main-menu-settings-group">
                        <span>
                            <label for="shortcut1-name">Name: </label>
                            <input type="text" id="shortcut1-name">
                        </span>
                        <span>
                            <label for="shortcut1-link">Link: </label>
                            <input type="text" id="shortcut1-link">
                        </span>
                    </div>
                    <div class="main-menu-settings-group">
                        <span>
                            <label for="shortcut1-name">Name: </label>
                            <input type="text" id="shortcut1-name">
                        </span>
                        <span>
                            <label for="shortcut1-link">Link: </label>
                            <input type="text" id="shortcut1-link">
                        </span>
                    </div>
                    <div class="main-menu-settings-group">
                        <span>
                            <label for="shortcut1-name">Name: </label>
                            <input type="text" id="shortcut1-name">
                        </span>
                        <span>
                            <label for="shortcut1-link">Link: </label>
                            <input type="text" id="shortcut1-link">
                        </span>
                    </div>
                </div>
            </section>
            <section id="sale-settings">
                <label for="id_default_sales_doc_is_invoice">Default sales document is an invoice </label>
                {{user_settings_form.default_sales_doc_is_invoice}}
                {{ user_settings_form.show_sale_quick_select }}
                {{ user_settings_form.show_lot_and_exp_columns }}
                {{ user_settings_form.default_client }}
            </section>
        </form>
    </div>
</div>
<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}