{% extends 'base.html' %}

{% block  content %}

<section class="settings_navigation">

    <a href="#">
        <div class="settings_navigation_button">
            <p>General</p>
        </div>
    </a>

    <a href="#">
        <div class="settings_navigation_button">
            <p>General</p>
        </div>
    </a>

    <a href="#">
        <div class="settings_navigation_button">
            <p>General</p>
        </div>
    </a>

    <a href="#">
        <div class="settings_navigation_button">
            <p>General</p>
        </div>
    </a>

    <a href="#">
        <div class="settings_navigation_button">
            <p>General</p>
        </div>
    </a>

</section>

{% endblock %}